article {
    padding: 20px 60px;
}

article > section {
    padding: 20px 0;
    border-bottom: thin solid lightgray;
}

.article-title h1 {
    margin: 0 0 10px 0;
}

.article-content h1 {
    margin: 0 0 6px 0;
}

.article-content h2 {
    margin: 0 0 4px 0;
}

.article-content h3 {
    margin: 0 0 2px 0;
}

.article-content h1, .article-content h1 > * {
    font-size: 22px;
}

.article-content h2, .article-content h2 > * {
    font-size: 20px;
}

.article-content h3, .article-content h3 > * {
    font-size: 18px;
    font-weight: bold;
}

.article-content ul, .article-content ol {
    padding: 0 30px;
}

.article-thumbnail {

}

.article-thumbnail img {
    width: 100%;
    max-height: 300px;
    margin: -30px 0 0 0;
    object-fit: cover;
}

.article-info h2 {
    font-size: 18px;
    font-weight: bold;
}

.article-info ul {
    font-style: italic;
}


.article-tabs {
    padding: 0;
    border: none;
}

.article-tabs .navbar {
    height: 60px;
}

.article-content img {
    max-width: 100%;
    max-height: 400px;
}