.comment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px 0;
    padding: 10px 0;

}

.comment-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.comment-author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.comment-avatar {
    width: 37px;
    height: 37px;
    margin: 0 10px 0 0;
}

.comment-user {
    font-size: 18px;
    font-weight: 600;
}

.comment-timestamp {
    font-style: italic;
}

.comment-content {
    margin-left: 18px;
    padding: 5px 26px;
    border-left: thin solid lightgray;
}

.comment-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.comment-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 0 0 0 10px;
    border: none;
    border-bottom: 1px solid #474c59;
    border-radius: 0;
    box-shadow: none;
}

.comment-button svg {
    width: 30px;
    height: 30px;
    fill: #474c59;
    transition: 0s;
}

.comment-button:hover svg {
    fill: #eeeeee;
    transition: 0s;
}