/*Default sidebar <aside> styling*/
aside * {
    width: 100%;
}

aside h1 {
    height: 100%;
    padding: 0 20px;
    color: gray;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
}

/*Overrides <svg> icons styling back to defaults in App.css*/
aside svg {
    width: 28px;
}

/*Styles for list items in sidebars*/
aside li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
}

/*Sticky container inside sidebars*/
.sidebar-sticky {
    /*position: sticky;*/
    /*top: 48px;*/
    width: 100%;
    background: none;
}

.sidebar-widget {

}

/*Overrides default nav-bar styles*/
.sidebar-widget .navbar {
    flex-direction: column;
    align-items: flex-start;
}

.sidebar-widget .navbar > div {
    flex-direction: column;
    align-items: flex-start;
}

.sidebar-widget .navbar a {
    justify-content: flex-start;
    width: 100%;
    height: 40px;
    padding: 0 20px 0 10px;
    font-weight: bold;
}

.sidebar-widget .navbar .active {
    border-style: none;
    border-left: solid;

}