.menu {
    padding: 0 40px;
}

.menu__date-picker {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.menu__date-button {
    width: 40px;
    background: none;
    box-shadow: none;
}

.menu__date-button svg {
    width: 24px;
    height: 24px;
    fill: #080808;
}

.menu__date-dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 60px;
    background: none;
    border: none;
    font-size: 22px;
}

.menu__content-panel {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
}

.menu__meal {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    width: 100%;
}

.meal__supplements {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

.meal__supplements--content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.meal__nutrients {
    height: 100%;
    padding: 0 40px;
    border-left: thin solid lightgray;
}

.menu__dish {

}