.menu-week {
    padding: 0 40px;
}

.menu-day {
    width: 100%;
    padding: 10px 0;
    border-bottom: thin solid lightgray;
}

.menu-day summary {
    color: #656665;
    font-size: 22px;
}

.menu-day .panel {
    justify-content: center;
    padding: 0;
}

.menu-meal {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}