.console-container {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    width: 100%;
    height: calc(100vh - 66px);
    overflow: hidden;
}

.console-container aside {
    grid-column: span 2;
    padding: 0;
    box-shadow: 1px 0 1px #d0d0d0;
    /*border-right: thin solid lightgray;*/
}

.console-container main {
    grid-column: span 12;
}

.console > section {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: 100px calc(100vh - 60px - 100px);
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin: 0;
    padding: 0;
}

.console-header {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 60px;
    border-top: thin solid lightgray;
    border-bottom: thin solid lightgray;
}

.console-header h1,
.console-header h1 * {
    padding: 20px 0 10px 0;
    font-size: 20px;
    font-weight: bold;
}

.console-header .navbar {
    justify-content: flex-start;
    height: 60px;
}

.console-header > .navbar a {
    flex-grow: 0;
}

.console-header .input-group button {
    margin: 0;
    border-radius: 0;
}

.console-content {
    /*grid-area: 2 / 1 / 3 / 2;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*min-height: 600px;*/
    /*max-height: 3000px;*/
    height: 100%;
    padding: 20px 60px;
    overflow-y: scroll;
}

.user-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin: 0;
    overflow: hidden;
}

.user-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
}

.user-image {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.user-info h1 {
    padding: 0
}