.console-container {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    width: 100%;
    height: calc(100vh - 60px);
    border: thin solid lightgray;
    overflow: hidden;
}

.console-container aside {
    grid-column: span 2;
    padding: 0;
    background: #fafafa;
    box-shadow: 1px 0 4px #d0d0d0;
    /*border-right: thin solid lightgray;*/
}

.console-container main {
    grid-column: span 12;
}

.console > section {
    display: grid;
    grid-template-columns: repeat(9, calc(100% / 9));
    grid-template-rows: 60px calc(100vh - 60px - 60px);
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin: 0;
    padding: 0;
    /*border: thin solid lightgray;*/
}

.console-header {
    grid-area: 1 / 1 / 2 / 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    max-height: 60px;
    padding: 0 60px;
    border-bottom: thin solid lightgray;
}

.console-header h1, .console-header h1 *,
.console-toolbar h1, .console-toolbar h1 * {
    padding: 20px 0 10px 0;
    font-size: 20px;
    font-weight: bold;
}

.console-header .navbar {
    justify-content: flex-start;
    height: 60px;
}

.console-header > .navbar a {
    flex-grow: 0;
}

.console-header .input-group button {
    margin: 0;
    border-radius: 0;
}

.console-content {
    grid-area: 2 / 1 / 3 / 10;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2px 60px;
    overflow-y: scroll;
}

.console-article {
    grid-area: 2 / 1 / 3 / 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 20px 60px;
    overflow-y: scroll;
}

.console-article::-webkit-scrollbar {
    display: none;
}

.console-toolbar {
    grid-area: 2 / 8 / 3 / 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding: 20px 40px;
}

.console-toolbar > p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.console-toolbar > button {
    max-width: 100%;
}

.user-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin: 0;
    overflow: hidden;
}

.user-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 10px 0;
}

.user-image {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.user-info h1 {
    padding: 0
}