.home-banner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: thin none lightgray;
    border-bottom-style: solid;
}

.home-banner > figure {
    height: 60vh;
    min-width: 600px;
    flex-basis: 50%;
    flex-grow: 1;
}

.home-banner > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    flex-basis: 40%;
    flex-grow: 1;
    padding: 60px;
}

.home-banner > div > h1 > a, section > div > p > a {
    text-align: center;
}

.home-banner > div > h1 > a {
    font-size: 46px;
}

.home-banner > div > p > a {
    color: dimgray;
    font-size: 22px;
    font-weight: bold;
}