.home-section {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding-bottom: 40px;
}

.home-section header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-section h1 {
    margin: 10px 0;
    font-size: 26px;
}