article {
    padding: 20px 60px;
}

article section {
    padding: 20px 0;
}

.video-article {
    padding: 0;
}

.article-thumbnail {
    border-radius: 20px;
    margin: -30px 0 20px 0;
}

.article-thumbnail img {
    max-height: 400px;
    object-fit: cover;
}

.article-title {
    border-bottom: thin solid lightgray;
}

.article-title h1,
.article-title h1 * {
    margin: 0 0 10px 0;
}

.article-subtitle {
    margin: 10px 0 0 0;
    font-style: italic;
}

.article-description {
    margin: 0 0 0 16px;
    padding: 20px 0 0 30px;
    border-left: 1px solid lightgray;
    font-style: normal;
}

.article-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.article-author {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.article-author > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.article-author:hover * {
    filter: brightness(1.2);
}

.author-avatar {
    width: 32px;
    height: 32px;
    margin: 0 14px 0 0;
}

.author-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: darkslateblue;
    font-size: 18px;
    font-weight: 600;
}

.author-name svg {
    fill: darkslateblue;
}

.article-timestamp {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.timestamp-created,
.timestamp-updated {
    font-size: 14px;
}

.timestamp-updated {
    color: gray;
    font-style: italic;
}

.article-timestamp span {
    text-align: right;
}

.article-author i {
    display: block;
    align-self: flex-end;
}

.article-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}

.article-toolbar > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.article-status {
    flex-shrink: 0;
}

.article-status p {
    font-weight: 600;
}

.article-controls {
    flex-grow: 1;
    justify-content: flex-end;
}

.article-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 36px;
    height: 36px;
    padding: 8px;
    margin: 0 0 0 10px;
    color: #656665;
    background: none;
    border-radius: 18px;
}

.article-button svg {
    flex-grow: 0;
    width: 20px;
    height: 20px;
    fill: #656665;
    animation: fade-in 0.5s;
}

.article-button:active svg {
    animation: pop 0.5s;
}

.article-button-with-text {
    width: auto;
}

.article-button-no-text {

}

.article-button-no-text svg {
    margin-right: 0;
}

.button-favorite svg {
    fill: #f33334;
    animation: fade-in 0.5s;
}

.article-button:hover {
    background: #e6d3a3;
}

.article-raw h1 {
    margin: 0 0 6px 0;
}

.article-raw h2 {
    margin: 0 0 4px 0;
}

.article-raw h3 {
    margin: 0 0 2px 0;
}

.article-raw h1, .article-raw h1 > * {
    font-size: 22px;
}

.article-raw h2, .article-raw h2 > * {
    font-size: 20px;
}

.article-raw h3, .article-raw h3 > * {
    font-size: 18px;
    font-weight: bold;
}

.article-raw ul, .article-raw ol {
    padding: 0 30px;
}

.article-raw img {
    max-width: 100%;
}

.article-instructions > h2 {
    padding: 10px 0;
    border-bottom: thin solid lightgray;
}

article > section > h2 {
    font-size: 18px;
    font-weight: bold;
}

.article-list ul {
    font-style: italic;
}

.article-step {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 20px 0;
}

.step-index {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    margin: 0 30px 0 0;
}

.step-current {
    color: #717744;
    font-size: 36px;
    font-weight: normal;
    border-bottom: thin solid #373d20;
}

.step-total {
    color: #373d20;
    font-size: 18px;
    font-weight: normal;
}

.step-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
}

.article-tabs {
    padding: 0;
}

.article-tabs .navbar {
    height: 60px;
}

.article-raw img {
    max-width: 100%;
    max-height: 400px;
}

article .form-container {
    padding: 0;
    border: none;
}

/*User profile page*/
.banner-user .banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 40px 40px;
}

.banner-user .banner-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.banner-user .banner-section > * {
    margin: 0 40px;
}

.banner-user .banner-section .profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}

.banner-user .banner-section .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-user .banner-section li {
    padding: 2px 0;
}

.banner-user .profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0 0 0;

}

.banner-user .profile-info h1 {
    padding: 0 5px;
    font-size: 30px;
    font-weight: 500;
}

.banner-user .banner-section li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner-user .banner-section li > svg {
    margin-right: 5px;
}

.banner-user .banner-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 60%;
    height: 100%;
    background: center/cover no-repeat;
}

.banner-user .banner-overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,
    rgba(254, 254, 254, 0.0) 0%,
    rgba(254, 254, 254, 1) 50%,
    rgba(254, 254, 254, 1) 100%);
    backdrop-filter: blur(6px);
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}