article {
    padding: 20px 60px;
}

article > section {
    padding: 20px 0;
    border-bottom: thin solid lightgray;
}

.article-title h1 {
    margin: 0 0 10px 0;
}

.article-title p {
    margin: 10px 0 0 0;
    font-style: italic;
}

.article-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.article-author {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.article-avatar {
    width: 42px;
    height: 42px;
    margin: 0 10px 0 0;
}

.article-user {
    font-size: 18px;
    font-weight: 600;
}

.article-time {
    flex-shrink: 0;
    font-style: italic;
}

.article-author i {
    display: block;
    align-self: flex-end;
}

.article-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 0;
}

.article-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60px;
    height: 40px;
    padding: 10px;
    margin: 0 0 0 10px;
    border: 2px solid #474c59;
    border-radius: 20px;
}

.article-button:hover {
    background: white;
}

.article-button svg {
    width: 20px;
    height: 20px;
    fill: #474c59;
}

.article-content h1 {
    margin: 0 0 6px 0;
}

.article-content h2 {
    margin: 0 0 4px 0;
}

.article-content h3 {
    margin: 0 0 2px 0;
}

.article-content h1, .article-content h1 > * {
    font-size: 22px;
}

.article-content h2, .article-content h2 > * {
    font-size: 20px;
}

.article-content h3, .article-content h3 > * {
    font-size: 18px;
    font-weight: bold;
}

.article-content ul, .article-content ol {
    padding: 0 30px;
}

.article-thumbnail {

}

.article-thumbnail img {
    width: 100%;
    max-height: 300px;
    margin: -30px 0 0 0;
    object-fit: cover;
}

.article-list h2 {
    font-size: 18px;
    font-weight: bold;
}

.article-list ul {
    font-style: italic;
}

.article-tabs {
    padding: 0;
    background: white;
    border: none;
}

.article-tabs .navbar {
    height: 60px;
}

.article-content img {
    max-width: 100%;
    max-height: 400px;
}