.overview-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 180px;
    margin-bottom: 10px;
    background: #fafafa;
    border-radius: 10px;
    box-shadow: 0 1px 2px #d0d0d0;
}

.overview-card:hover {
    filter: brightness(1.05);
    transition: 0.3s ease-in-out;
}

.overview-card:hover .card-stat-action {
    filter: brightness(1.6);
}

.overview-card .card__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
}

.console-toolbar .overview-card {
    flex-basis: 100%;
    flex-grow: 1;
}

.card-stat-number {
    font-size: 36px;
    font-weight: 500;
}

.card-stat-text {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.card-stat-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: darkslateblue;
    font-weight: bold;
}

.card-stat-action svg {
    fill: darkslateblue;
}