/*The container*/
.card {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    animation: fade-in 0.5s;
    -webkit-animation: fade-in 0.5s;
}

.card,
.card * {
    transition: 0.3s ease-in-out;
}

.card > * {
    flex-shrink: 0;
}

.card:hover {
    filter: brightness(1.2);
}

.card:hover .card__thumbnail img {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

/*Default-style card elements*/
.card__thumbnail { /*Thumbnail container*/
    background: #e6d3a3;
    border-radius: 12px;
    overflow: hidden;
}

.card__details { /*Text container*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card__url {
    display: block;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
}

.card__glance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.card__title {
    font-size: 16px;
    font-weight: 600;
}

.card__author a {
    position: relative;
    z-index: 10;
    font-weight: 600;
}

.card__like-count {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card__timestamp {
    color: gray;
    font-size: 14px;
}

.card__like-count svg {
    width: 20px;
    margin-right: 4px;
}

.card__article-status {
    font-weight: 600;
}

.card__suggestion-criteria {
    font-size: 14px;
    font-style: italic;
    white-space: normal;
}

/*Tall & slim version*/
.card--narrow {
    flex-direction: column;
    align-items: flex-start;
    width: 180px;
    /*margin: 0 15px 20px 0;*/
}

.card--narrow .card__thumbnail {
    width: 100%;
    height: 240px;
}

.card--narrow .card__details {
    width: 100%;
    padding: 10px 0;
}

/*Medium-sized version*/
.card--medium {
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 240px;
    flex-grow: 1;
    flex-shrink: 0;
    /*margin: 0 15px 10px 0;*/
}

.card--medium .card__thumbnail {
    width: 100%;
    height: 160px;
}

.card--medium .card__details {
    width: 100%;
    padding: 10px 0;
}

/*Large-sized version, approx. half-width*/
.card--wide {
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 320px;
    flex-grow: 1;
    flex-shrink: 0;
    /*margin: 0 15px 20px 0;*/
}

.card--wide .card__thumbnail {
    width: 100%;
    height: 220px;
}

.card--wide .card__details {
    width: 100%;
    padding: 10px 0;
}

/*Full-sized, full-width version*/
.card--full {
    flex-direction: row;
    align-items: center;
    width: 100%;
    /*margin: 0 0 40px 0;*/
}

.card--full .card__thumbnail {
    width: 220px;
    height: 140px;
}

.card--full .card__details {
    flex-grow: 1;
    padding: 0 20px;
}

.card--full .card__title {
    font-size: 18px;
}

/*Smaller, full-width version for sidebars*/
.card--small {
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 240px;
    flex-grow: 1;
    flex-shrink: 0;
    /*margin: 0 15px 4px 0;*/
}

.card--small .card__thumbnail {
    width: 100%;
    height: 80px;
}

.card--small .card__details {
    width: 100%;
    padding: 10px 0;
}

/*Compact version for sidebars*/
.card--compact {
    flex-direction: row;
    align-items: center;
    width: 100%;
    /*margin: 0 0 15px 0;*/
}

.card--compact .card__thumbnail {
    flex-grow: 0;
    width: 100px;
    height: 120px;
}

.card--compact .card__details {
    flex-shrink: 2;
    padding: 0 10px;
}

/*Cards fade-in on load*/
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}