/*The tile*/
.tile-a {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    animation: fade-in 0.3s;
    -webkit-animation: fade-in 0.3s;
    z-index: 0;
}

.tile-a,
.tile-a * {
    transition: 0.3s ease-in-out;
}

.tile-a:hover .tile-a__overlay {
    backdrop-filter: brightness(1.2);
}

.tile-a:hover .tile-a__thumbnail img {
    transform: scale(1.1);
}

.tile-a--menu-dish {
    width: 220px;
    height: 180px;
}

.tile-a--menu-snack {
    width: 160px;
    height: 140px;
}

.tile-a--small {
    width: 160px;
    height: 260px;
}

.tile-a--medium {

}

.tile-a--large {

}

/*The thumbnail*/
.tile-a__thumbnail {
    width: 100%;
    height: 100%;
    background: #e6d3a3;
}

.tile-a__thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*The text content*/
.tile-a__overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
    rgba(50, 50, 50, 0.1) 0%,
    rgba(50, 50, 50, 0.2) 25%,
    rgba(50, 50, 50, 0.4) 50%,
    rgba(50, 50, 50, 0.8) 75%,
    rgba(50, 50, 50, 0.8) 100%);
}

.tile-a__details {
    padding: 20px 20px;
}

.tile-a--small .tile-a__details {
    padding: 20px 15px;
}

.tile-a__url {
    display: block;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
}

.tile-a__title {
    color: #eeeeee;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}

.tile-a--small .tile-a__title {
    font-size: 16px;
}

.tile-a__author {
    color: #eeeeee;
    font-size: 14px;
    font-weight: 400;
    z-index: 10;
}

.tile-a--small .tile-a__author {

}

.tile-a__like-count {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #eeeeee;
}

.tile-a__like-count svg {
    fill: #eeeeee;
    margin-right: 5px;
}

.tile-a__status {
    font-weight: 600;
    line-height: 1.5;
    filter: brightness(2);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}