.card--video {
    flex-direction: column;
    flex-basis: 320px;
    flex-grow: 1;
    flex-shrink: 0;
    /*margin: 0 15px 10px 0;*/

}

.card--video .card__thumbnail {
    height: 230px;
    border-radius: 0;
}

.card--video .card__details {
    padding: 10px 0;
}

.card--video .card__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.card--video .card__play-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 76px;
    border: 4px solid #eeeeee;
    border-radius: 50%;
}

.card--video .card__play-button svg {
    width: 34px;
    height: 34px;
    margin-left: 6px;
    fill: #eeeeee;
}