.card {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 20px 20px 0;
    width: 180px;
    height: 300px;
    box-shadow: 0 4px 8px #d0d0d0;
    border-radius: 8px;
    overflow: hidden;
}

.card-thumbnail {
    width: 100%;
    height: 60%;
    background: rgba(64, 191, 115, 0.1);
}

.card-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card > h1, .card > p {
    padding: 2px 5%;
}

.card > h1 > a {
    font-size: 20px;
}

.card > p > a {
    font-weight: normal;
    color: #5a5a5a;
}