.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    color: #3a3a3a;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}

.nav-link:hover {
    background-color: wheat;
    filter: none;
}