.error-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 80vh;
    padding: 0 24%;
    overflow: hidden;
}

.error-message {
    font-size: 14px;
}

.error-image {
    position: absolute;
    top: 40%;
    right: 50%;
}