/*Default sidebar <aside> styling*/
aside * {
    width: 100%;
    margin: 0;
}

aside h1 {
    margin: 10px 0;
}

aside h1 {
    font-size: 18px;
    white-space: nowrap;
    height: 100%;
    padding: 0 20px;
}

/*Overrides <svg> icons styling back to defaults in App.css*/
aside svg {
    width: 28px;
}

/*Styles for list items in sidebars*/
aside li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
}

/*Sticky container inside sidebars*/
.side-bar {
    position: sticky;
    top: 100px;
    width: 100%;
}

/*Overrides default nav-bar styles*/
.side-bar .nav-bar {
    flex-direction: column;
    align-items: flex-start;
}

.side-bar .nav-bar > div {
    flex-direction: column;
    align-items: flex-start;
}

.side-bar .nav-bar a {
    justify-content: flex-start;
    width: 100%;
    height: 40px;
    padding: 0 20px 0 0;
    font-weight: bold;
}

.side-bar .nav-bar .active {
    background-color: rgba(122, 167, 181, 0.2);
    border-style: none;
    border-right-style: solid;
}