.home-welcome {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 320px;
    padding: 60px 0;
    background-color: linen;
}

.home-welcome > * {
    width: 80%;
    max-width: 600px;
}

.home-welcome h1 {
    text-align: center;
}