/***Global defaults***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}

/***Text elements styling***/
* {
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #080808;
}

h1, h2, h3 {
    color: #656665;
    font-weight: normal;
    line-height: 1.6;
}

h1, h1 > * {
    font-size: 28px;
}

h2, h2 > * {
    font-size: 24px;
}

h3, h3 > * {
    font-size: 20px;
}

h1 > a {
    font-weight: normal;
    color: #3a3a3a;
}

p {
    font-weight: normal;
}

a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: darkslateblue;
    font-weight: 600;
    text-decoration: none;
}

a svg {
    fill: darkslateblue;
}

a:hover {
    filter: brightness(1.2);
}

ul {
    list-style: none;
}

/***Images and icons***/
figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

svg {
    width: 22px;
}

/***Grid layout***/
/*Outermost container*/
.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2f4f3;
    padding: 20px 0 60px 0;
}

/*Grid layout*/
.banner-container {
    z-index: 10;
    width: 1154px;
    margin: 0 0 10px 0;
    background: white;
    box-shadow: 0 1px 1px #d0d0d0;
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 1154px;
}

main {
    grid-column: span 6;
    z-index: 10;
}

aside {
    grid-column: span 2;
    z-index: 10;
    padding-left: 10px;
}

main > section {
    margin: 0 0 10px 0;
    padding: 30px 1px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 1px #d0d0d0;
}

main > nav {
    background: white;
}

aside > section {
    margin: 0 0 10px 0;
    padding: 30px 1px;
    background: transparent;
}

.section-header {
    margin: 0 60px;
}

.section-header h1 {
    font-size: 20px;
    font-weight: bold;
}

/*Section headers with links*/
.linked-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-content {
    margin: 0 60px;
}


.page-navbar, .page-toolbar {
    padding: 0;
}

.page-navbar .navbar,
.page-toolbar .navbar {
    height: 60px;
}

.page-navbar .navbar a,
.page-toolbar .navbar div {
    text-transform: uppercase;
}

/***Hover tooltips***/
.tooltip {
    position: relative;
    display: inline-block;
    margin: 0;
    border-bottom: thin dotted rgba(71, 76, 89, 1);
}

.tooltip .tooltip-text {
    position: absolute;
    visibility: hidden;
    padding: 10px 20px;
    color: #dddddd;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    background-color: rgba(71, 76, 89, 0.9);
    border-radius: 6px;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}