.navbar, .toolbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/*Navbar sections*/
/*.navbar > div {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*    height: 100%;*/
/*}*/

.navbar a, .toolbar div {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    color: #040f0f;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    border: 2px none rgba(71, 76, 89, 0.8);
}

.navbar a svg {
    fill: #040f0f;
}

.navbar a:hover, .toolbar div:hover {
    color: #91972a;
    background: rgba(145, 151, 42, 0.2);
    filter: none;
}

.navbar a:hover svg {
    fill: #91972a;
}

/*Highlights link if matches current page*/
.navbar .active {
    color: #91972a;
    font-weight: 600;
    border: rgba(145, 151, 42, 1);
    border-top: solid transparent;
    border-bottom: solid;
    filter: none;
    transition: none;
}

.navbar .active svg {
    fill: #91972a;
}

/*Pictures inside links (like user profile images)*/
.navbar a > picture {
    height: 80%;
    margin: 0 10px 0 -10px;
}

.navbar a > picture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

