.page-full {
    position: relative;
    /*height: 1080px;*/
}

.page-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: center/cover no-repeat;
}

.page-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(254, 254, 254, 0.1);
    backdrop-filter: blur(4px);
}

.auth {
    justify-content: center;
    width: 100%;
    height: calc(100vh - 60px);
}

.auth__welcome {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    min-height: 720px;
    padding: 0 15% 15% 15%;
    background: rgba(236, 232, 222, 0.9);
    text-align: right;
}

.auth__welcome * {
    justify-content: flex-end;
}

.auth__welcome h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.auth__welcome li {
    padding: 0 20px;
    border-right: thin solid #656665;
    font-size: 18px;
}

.auth__container {
    grid-column: 3 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    min-height: 720px;
    padding: 0 15% 15% 15%;
    background: rgba(254, 254, 254, 0.95);
}

/*The forms*/
.auth__wrapper--full {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    min-width: 360px;
    text-align: left;
}

.auth__wrapper--full > * {
    width: 100%;
    max-width: 480px;
}

.auth__wrapper--modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    min-width: 360px;
    max-width: 360px;
    text-align: center;
}

.auth__wrapper--modal > * {
    width: 100%;
    max-width: 480px;
}

.auth__wrapper--modal > h2 {
    margin: 20px 0 10px 0;
    font-size: 20px;
}

.auth__wrapper--modal > button {
    margin: 5px 0;
}

.auth__form > * {
    width: 100%;
}

.auth__form label {
    text-align: left;
}

.auth__form label:last-of-type {
    margin-bottom: 20px;
}

.button-google {
    color: #040f0f;
    background: white;
    font-weight: 500;
}

.button-facebook {
    color: #eeeeee;
    background: #39569c;
    font-weight: 500;
}

.button-facebook svg {
    fill: #eeeeee;
}

.button-google svg, .button-facebook svg {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

/*Blackens the backdrop*/
.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

/*The modal popup*/
.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 520px;
    padding: 60px 20px;
    background-color: white;
    border-radius: 20px;
}