.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 1px #d0d0d0;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    padding: 0 30px;
    background-color: white;

}

.header-content > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

/*Search bar override*/
.header-content .form-search {
    justify-content: flex-start;
    min-width: 400px;
    max-width: 660px;
}

/*Header navbar override*/
.header-content .navbar {
    height: 66px;
}

.header-content .profile-image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
}

/*Header resizing*/
.small {
    padding: 0 10px;
    background: none;
    box-shadow: none;
}

.small .header-content {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 1px 1px #d0d0d0;
}

.small .navbar {
    height: 48px;
}

.small .navbar a {
    font-size: 16px;
}